  /* -------------------------------------------------------------------------- */
  /*                       INÍCIO DO STYLE DO PROJETO                           */
  /* -------------------------------------------------------------------------- */

/* ESTILOS GERAIS*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

img {
    display: block;
    max-width: 100%; /* ADAPTA IMAGENS DENTRO DO CONTEUDO COM A MEDIA QUERY*/
}


.btn {
    border: 3px solid #efc63e;
    padding: 10px 30px;
    color: #efc63e;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn.btn_preto:hover {
    color: #000;
    border-color: #000;
}

.subtitulo {
    margin-top: 25px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.subtitulo:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 8px auto;
}

.subtitulo-interno {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subtitulo-interno:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 8px 0;
}



/* HEADER*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #efc63e;
    padding: 15px 0;
    z-index: 10; /*QUEBRA O POSITION DA PÁGINA*/
}

.header_menu {
    text-align: right;   
}

.header_menu ul li{
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0; /* este padding aumenta área de contato do link*/
}

.header_menu ul li a:hover {
   color: #fff;

}

.header_menu ul li a.menu_ativo {
    color: #fff;
    font-size: 18px;
    
}



/* INTRODUÇÃO*/

.introducao {
    width: 100%;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    padding-top: 80px;
    
}

.btn:hover {
   color: #fff;
   border-color: #fff;
}


.introducao h1 {
    font-size: 48PX;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo {
    max-width: 320px;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 40px ;
}

.quote-externo p {
    font-style: italic;
}

.quote-externo p:before, .quote-externo p:after { /* criação das linhas antes e depois do p*/
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 14px auto 10px auto;
}


.quote-externo cite {
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}


/* INTRODUÇÃO INTERNA*/

.introducao-interna {
    width: 100%;
    margin-top: 92px;
    height: 160px;
    background-size: cover ;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 30px;
}


.introducao-interna h1 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.introducao-interna h1:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 6px auto 10px auto;

}



/*PRODUTOS*/

.produtos_container {
    padding: 60px 0x;
}

.produtos_lista li {
    background: #efc63e; 
    text-align: center;

}


.produtos_lista li img {
    margin: 0 auto;
}


.produtos_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}


.produtos_lista li h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 2px auto;
}

.produtos_lista li p {
    padding: 10px 20px 20px 20px;
}


.produtos_icone {
    background: #000;
    padding: 20px;
}

.call {
    padding-top: 40px;
    text-align: center;
    clear: both;
}

.call p {
    margin-bottom: 20px;
}

/* PORTIFÓLIO */

.portfolio {
    width: 100%;
    background: #000;
    padding: 40px 0;
}

.portfolio .subtitulo {
    color: #efc63e;
}

.portfolio .subtitulo:after {
    background: #efc63e;
}

.portfolio_lista li:last-child {
    margin-top: 20px;
}


.portfolio .call p {
    color: #fff;
}


/* QUALIDADE */

.qualidade {
    padding: 60px 0;
    position: relative;
}

.qualidade:after {
    content: "";
    width: 634px;
    height: 120px;
    display: block;
    background: url("../img/marca.png") no-repeat center;
    position: absolute;
    top: 195px;
    right: 162px;
    z-index: -1;
}


.qualidade img {
    margin: 0 auto;
}

.qualidade_lista {
    padding-top: 20px;
    overflow: auto; /*clear-fix limpa flutuação*/
    
}

.qualidade_lista li {
    text-align: center;
    padding: 0 40px;
}

.qualidade_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}


.qualidade_lista li h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 6px auto;
}

/* ÁREA DE QUEBRA DE CITAÇÃO*/

.quebra {
    width: 100%;
    height: 220px;
    background: url("../img/bg-footer.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 40px;
}

.quebra .quote-externo {
    max-width: 400px;
}

/* FOOTER*/

.footer {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 20px 0;
}

.footer h3 {
    font-size: 18px;
    line-height: 25px;
    color: #efc63e;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #efc63e;
    margin: 6px 0 12px 0;
}

.footer_historia {
    padding-right: 40px;

}

.footer_contato ul li {
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer_redes ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer_redes ul li a {
    border: 3px solid #efc63e;
    display: block;
    padding: 10px;

}

.footer_redes ul li a:hover {
    border-color: #fff;
}

.copy {
    width: 100%;
    background: #efc63e;
    padding: 20px 0;
}

/* -------------------------------------------------------------------------- */
/*                                      Script Slide                          */
/* -------------------------------------------------------------------------- */

.js [data-slide] {
    position: relative;
  }

.js [data-slide] > * {  /* Asteristico seleciona todos os elementos*/
    position: absolute;
    top: 0px;
    opacity: 0;
  }

.js [data-slide] > .active {
    position: relative;
    opacity: 1;
    transition: opacity 500ms;
    
  }

.js [data-slide-nav] {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

.js [data-slide-nav] > button {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 4px;
    border: hidden;
    padding: 8px;
    cursor: pointer;
    border-radius: 6px;
    text-indent: -200px;
    overflow: hidden;
    background: #1d1d1d;
  }

.js [data-slide-nav] > button.active {
    background-color: #efc63e;
  }

  .js [data-anime] {
      opacity: 0;
      transform: translate3d(0, -40px, 0);
  }

  .js .fadeInDown {
    transform: translate3d(0,-20px,0);
  }

  .js .anime {
      opacity: 1;
      transform: none;
      transition: opacity 800ms, transform 800ms;
  }

  .nao-aparece {
      visibility: hidden;
      position: absolute;
      height: 0;

  }

  #form-sucesso {
      color: #31aa39;
  }

  #form-erro {
      color: rgb(172, 30, 58);
  } 

  

